<div class="container mb-5" id="tech">
  <h2 class="mb-3">Tech Stack</h2>
  <div class="row juz">
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style="">
        <div class="card-body">
          <img src="assets/tech/html.png" class="img-fluid  mb-1">
          <p class="card-text">html</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style="">
        <div class="card-body">
          <img src="assets/tech/css.png" class="img-fluid  mb-1">
          <p class="card-text">css</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/javascript.png" class="img-fluid mb-1">
          <p class="card-text">javascript</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/reactjs.png" class="img-fluid mb-1" style="height: 240px">
          <p class="card-text">react</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/angular.png" class="img-fluid  mb-1">
          <p class="card-text">angular</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/nodejs.png" class="img-fluid  mb-1">
          <p class="card-text">nodejs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/nestjs.png" class="img-fluid  mb-1">
          <p class="card-text">nestjs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/typescript.png" class="img-fluid  mb-1">
          <p class="card-text">typescript</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="card text-center mb-3" style=" ">
        <div class="card-body">
          <img src="assets/tech/git.png" class="img-fluid  mb-1">
          <p class="card-text">git</p>
        </div>
      </div>
    </div>
  </div>
</div>
