<div class="container mb-5">
  <div class="col-lg  m-1">
    <h3 class="mb-3">About me</h3>
    <div class="text-center">
      <p>As a first-year student of applied computer science, I am looking for new experiences that will enrich my
        development so that in the future I can create new tools that can help people in their everyday work.
        I am a person who likes to integrate with others and work in a team.
        I am currently developing my skills in the NestJS framework and Angular. </p>
    </div>
  </div>
</div>
