<div class="container mb-5" id="experience">
  <h2 class="mb-3">Experience</h2>
  <div class="row justify-content-center">
    <div class="card" style="width: 45%; height: 20%">
      <img
        src="assets/company/METEC-2023-Krakodlew-S.A.-Exhibitor-base-data-GMTN2023.2710536-CCtMSoqORV6IzDRzO9gnmg.png"
        class="card-img-top mt-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Krakodlew S.A</h5>
        <p class="card-text">
          In the company during my internship, I learned JavaScript, helped
          repair computers, and familiarized myself with server management.
        </p>
        <img
          src="assets/tech/css.png"
          class="img-fluid"
          style="max-width: 15%"
        />
        <img
          src="assets/tech/html.png"
          class="img-fluid"
          style="max-width: 15%"
        />
        <img
          src="assets/tech/javascript.png"
          class="img-fluid"
          style="max-width: 15%"
        />
      </div>
    </div>
  </div>
</div>
