<div class="container">
  <h1 class="mb-3">Projects</h1>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-4 mb-3">
      <div class="card me-4" style="width: 100%; height: 100%">
        <img
          src="assets/projects/image.png"
          alt=""
          class="img-fluid mt-3 pe-2 ps-2"
        />
        <div class="card-body">
          <h5 class="card-title">HeadHunter</h5>
          <p class="card-text">
            The project we worked on during the MegaK course with a group of
            other people aimed to facilitate HR in finding job candidates.
          </p>
        </div>
        <div>
          <img
            src="assets/tech/typescript.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <img
            src="assets/tech/reactjs.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <img
            src="assets/tech/nestjs.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <a href="https://github.com/Brylson123/MegaK-grupa3-backend">
            <img
              src="assets/github.png"
              alt=""
              class="img-fluid"
              style="max-width: 20%; margin-left: 20%"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mb-3">
      <div class="card me-4" style="width: 100%; height: 100%">
        <img src="assets/projects/portfolio.png" alt="" class="img-fluid mt-3  pe-2 ps-2">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <p class="card-text">My own portfolio website</p>
          <i>Ongoing</i>
        </div>
        <div>
          <img src="assets/tech/typescript.png" class="img-fluid" alt="" style="max-width: 20%">
          <img src="assets/tech/angular.png" class="img-fluid" alt="" style="max-width: 20%">
          <a href="https://github.com/Brylson123/portfolio">
            <img src="assets/github.png" alt="" class="img-fluid " style="max-width: 20%; margin-left: 40%">
          </a>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-lg-4 mb-3">
      <div class="card me-4" style="width: 100%; height: 100%">
        <img
          src="assets/projects/2%20(1).png"
          alt=""
          class="img-fluid mt-3 pe-2 ps-2"
        />
        <div class="card-body">
          <h5 class="card-title">Auction</h5>
          <p class="card-text">
            The project offers functionalities such as user registration, login,
            the ability to create sales offers, and provisionally purchase them.
          </p>
        </div>
        <div>
          <img
            src="assets/tech/typescript.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <img
            src="assets/tech/reactjs.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <img
            src="assets/tech/nestjs.png"
            class="img-fluid"
            alt=""
            style="max-width: 20%"
          />
          <a href="https://github.com/Brylson123/AUCTIONSITE-BACKEND">
            <img
              src="assets/github.png"
              alt=""
              class="img-fluid"
              style="max-width: 20%; margin-left: 20%"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
