<nav class="navbar-expand-md mb-5">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-white" href="#about">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" href="#tech">Tech-stack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="">Contact</a>
      </li>
    </ul>
  </div>
</nav>
